.THIS .slds-card__header-title {
	justify-content: center;
}

.THIS .form-element__label {
    display: block !important;
}

.THIS .slds-form-element__label {
    display: block !important;
}

/*
.THIS .forceStyle.desktop {
    display: block !important;
}

.THIS .slds-form {
    display: block !important;
}

.THIS .forceStyle.desktop {
    display: block !important;
}*/